<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



	<head th:include="fragments/header :: head (${currentPageTitle})"></head>


	<body>

	<div class="container">

		<div th:include="fragments/header :: menu(${currentPageTitle})" th:remove="tag"></div>

		<div class="jumbotron">
			<h1 class="display-4">Ascent - Dashboard</h1>
			<p class="lead">Welcome to the landing page for the Ascent Dashboard project! This is the starting point to monitor services running on the Ascent Platform.</p>
		</div>

		<div class="row marketing">
			<div class="col-lg-6">
				<h4><a href="/manage" target="_blank">Spring Boot Admin Dashboard</a></h4>
				<p>Monitoring and Administration of all Discovery Client Applications</p>
			</div>
			<div class="col-lg-6">
				<h4><a href="swagger-dash">Swagger Dashboard</a></h4>
				<p>Aggregated Swagger Dashboard URLs</p>

			</div>
		</div>

		<div th:include="fragments/footer :: footer" th:remove="tag"></div>

	</div>


	<div th:include="fragments/footer :: scripts" th:remove="tag"></div>

	</body>
</html>