<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ascent Platform - Dashboard - Monitor URLs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}" />

		<!-- Custom styles for this template -->
		<link href="/css/narrow-jumbotron.css" rel="stylesheet" />

	</head>
	<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="hystrix-dash" target="_blank">Hystrix</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="monitor-dash">Monitor <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="swagger-dash">Swagger</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="turbine-dash" target="_blank">Turbine</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Ascent - Dashboard</h3>
		</div>

		<div class="jumbotron">
			<h1 class="display-4"> Monitoring URLs</h1>
			<p class="lead">Use the accordion below to view the monitoring URLS for a specific service.</p>
		</div>

		<div class="row marketing">
			<div class="col-lg-12">

			<div id="accordion" role="tablist">
				<div class="card" th:each="gatewayUrl,iter : ${gatewayUrls}">
					<div class="card-header" role="tab" th:id="${'heading' + iter.count}">
						<h5 class="mb-0">
							<a data-toggle="collapse" th:text="${gatewayUrl.key}" th:href="${'#collapse' + iter.count}" th:attr="aria-expanded=${'false'},aria-controls=${'collapse' + iter.count}">

							</a>
						</h5>
					</div>

					<div th:id="${'collapse' + iter.count}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<table class="table">
								<thead class="thead-inverse">
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">Description</th>
								</tr>
								</thead>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/autoconfig|}" th:text="autoconfig"></a></td>
									<td>Displays an auto-configuration report showing all auto-configuration candidates and the reason why they were or were not applied.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/beans|}" th:text="beans"></a></td>
									<td>Displays a complete list of all the Spring Beans in your application.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/configprops|}" th:text="configprops"></a></td>
									<td>Displays a collated list of all @ConfigurationProperties.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/dump|}" th:text="dump"></a></td>
									<td>Performs a thread dump.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/env|}" th:text="env"></a></td>
									<td>Exposes properties from Spring's ConfigurableEnvironment.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/health|}" th:text="health"></a></td>
									<td>Shows application health information (defaulting to a simple OK message).</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/info|}" th:text="info"></a></td>
									<td>Displays arbitrary application info.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/metrics|}" th:text="metrics"></a></td>
									<td>Shows metrics information for the current application.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/mappings|}" th:text="mappings"></a></td>
									<td>Displays a collated list of all @RequestMapping paths.</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/trace|}" th:text="trace"></a></td>
									<td>Displays trace information (by default the last few HTTP requests).</td>
								</tr>
								<tr>
									<td><a th:href="@{|${gatewayUrl.value}/loggers|}" th:text="loggers"></a></td>
									<td>Shows and modifies the configuration of loggers in the application.</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>

		<footer class="footer">
			<p>Ascent Platform - Dashboard</p>
		</footer>

		</div>
		<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
		<script src="/js/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
	</body>
</html>